@page "/rules"

<PageTitle>Regels</PageTitle>

<h3>Padel Toernooi Regels</h3>

<ul>
    <li>
        <strong>Score bijhouden:</strong>
        <br />
        De spelers op de baan dienen zelf de score bij te houden!<br />
    </li>
    <li>
        <strong>Score verdeling:</strong>
        <ul>
            <li>Winst: 3 punten</li>
            <li>Gelijk: 2 punten</li>
            <li>Verlies: 1 punt</li>
            <li>Per gewonnen game: 1 punt</li>
        </ul>
    </li>
    <br />
    <li>
        <strong>Sortering in Poulefase:</strong>
        <ul>
            <li>Totaal aantal punten</li>
            <li>Gamesaldo (gewonnen - verloren games)</li>
            <li>Aantal gewonnen games</li>
            <li>Gewonnen wedstrijden</li>
            <li>Aantal gelijkespelen</li>
            <li>Verloren wedstrijden</li>
        </ul>
    </li>
    <br />
    <li>
        <strong>Golden Point:</strong>
        <br />
        In plaats van deuce spelen we golden point. De ontvangende partij mag de kant kiezen.
    </li>
    <br />
    <li>
        <strong>Position Code:</strong>
        <br />
        Je position code maakt het voor de organisatie makkelijker om het wedstrijdschema voor de brackets van tevoren op papier te zetten.<br />
    </li>
</ul>